@model IEnumerable<TaskManagement.Models.Task>
@{
    ViewData["Title"] = "Task List";
}

<h1>@ViewData["Title"]</h1>

<div class="mb-3">
    <a class="btn btn-primary" href="@Url.Action("Create", "Task")">Add New Task</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Tasks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Title</td>
            </tr>
        }
    </tbody>
</table>